.header {
  &__brand {
    display: flex;
    align-items: center;
  }

  &__logo {
    max-width: 50px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__name {
    @include styleText($color-white-1, $fs-20, $fw-400);
    letter-spacing: 0.5px;

    margin-left: $mg-10;
  }

  &__admin {
    display: flex;
    align-items: center;
  }

  &__welcome {
    @include styleText($color-white-1, $fs-14, $fw-400);

    margin-right: $mg-10;
  }

  &__icon {
    color: $color-white-1;
    font-size: $fs-16 + 2;

    cursor: pointer;
  }
}
